
.completed {
    color: #5EBEC1; 
    display: inline-block;
    position: relative;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}
    
.completed:after {
  content: '';
  position: absolute;
  display: block;
  width: 200px;
  height: 2px;
  box-shadow: 0 1px rgba(255,255,255,0.6);
  margin-top: -0.7em;
  background: #5EBEC1;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
  transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.completed:hover {
	color: rgb(24, 29, 32);
	background: rgba(202, 227, 250, 0.3);
}

.completed:hover:after {
	transform: scaleX(0);
	transform-origin: center right;
}

.todoItem {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer; 
    border-bottom: solid 1px #ddd;
}

.todoItem:hover {
	color: rgb(24, 29, 32);
	background: rgba(169, 175, 212, 0.205);
}

.exitButton {
  float: right;
  margin-top: 1px;
  opacity: 0.4;
}

.exitButton:hover {
  fill: rgb(236, 9, 9);
}

.text{
    margin: 0;
    display: inline-block;
    width: 200px;
    overflow-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
}



html { background: #ddd; }
html { height: 100%; display: flex; }
body { width: 100%; margin: auto; }